html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section { display: block }
body {
   font: normal 1.0em/1.0em Helvetica, "Lucida Grande", Arial, sans-serif;
   line-height: 1
}

ol, ul { list-style: none }

blockquote, q { quotes: none }

blockquote:before, blockquote:after, q:before, q:after {
   content: '';
   content: none
}

table {
   border-collapse: collapse;
   border-spacing: 0
}

h1, h2, h3, h4, h5, h6 {
   font-family: Georgia, "Times New Roman", Times;
   font-weight: 700;
   margin-bottom: 15px
}

h1 { font-size: 2em }
h2 { font-size: 1.5em }
h3 { font-size: 1.2em }
h4 { font-size: 1.0em }
h5 { font-size: 0.8em }
h6 { font-size: 0.7em }

p { margin: 0 0 15px 0 }

strong { font-weight: 700 }

em { font-style: italic }

div#main {
   display: block;
   margin: 0 auto;
   width: 999px
}

   header { padding: 5px }

      header h1 { font-size: 1.5em }

      header h2 {
         font-size: 1.2em;
         font-style: italic
      }
      
   nav { position: relative; z-index: 1 }

      nav ul {
         background: #CCC;
         background-image: linear-gradient(bottom, rgb(225,225,225) 0%, rgb(245,245,245) 71%);
         background-image: -o-linear-gradient(bottom, rgb(225,225,225) 0%, rgb(245,245,245) 71%);
         background-image: -moz-linear-gradient(bottom, rgb(225,225,225) 0%, rgb(245,245,245) 71%);
         background-image: -webkit-linear-gradient(bottom, rgb(225,225,225) 0%, rgb(245,245,245) 71%);
         background-image: -ms-linear-gradient(bottom, rgb(225,225,225) 0%, rgb(245,245,245) 71%);
         background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(225,225,225)), color-stop(0.71, rgb(245,245,245)));
         border: solid 1px #CCC;
         border-radius: 5px 5px 0 0;
         box-shadow: 0 1px 3px #000;
         padding: 5px 0
      }

         nav ul li { display: inline }

         nav ul li a, nav ul li a:link, nav ul li a:visited {
            color: #333;
            font-weight: 700;
            padding: 5px 7px;
            text-decoration: none
         }
         
         nav ul li a:hover, nav ul li a:active { text-decoration: underline }

   div#content {
      background: #FFF;
      border-radius: 0 0 7px 7px;
      box-shadow: 0 1px 4px #333;
      margin-bottom: 15px;
      padding: 1px 0 15px 0;
      position: relative;
      z-index: 2
   }

      div#content article { margin: 10px 5px }

   footer p#copyright, footer p#powered, footer p#timer {
      color: #666;
      text-align: center
   }

   footer p#powered, footer p#timer { font-size: 0.7em }
   
   footer p a, footer p a:link, footer p a:visited {
      color: #666;
      text-decoration: none
   }
   
   footer p a:hover, footer p a:active { text-decoration: underline }